@media screen and (max-width: 480px) /* mobile layout */
{
	.pContainer { width: 90%; }
	.pComment { font-size: 15px; }
	.codeblock { width: 95%; }
}

body
{
	margin: 7px;
	font-size: 13px;
	font-family: san-serif;
	background-color: #AFD3FF;
}

/* rotating banner */

#banner
{
	float: left;
	margin: 2px;
	margin-right: 8px;
	margin-bottom: 6px;
	width: 100px;
	height: 100px;
	opacity: 0.9;
	box-shadow: 4px 4px 4px 0px lightgray;
	background-color: #D6DAF0;
	/* add color, change hue, and saturate B&W image */
	filter: contrast(90%) sepia(60%) hue-rotate(305deg) saturate(2);
}

a > #bannertext
{
	float: left;
	margin: 2px;
	top: 8px;
	left: 44px;
	position: absolute;
	color: #646;
	background-color: #F7F4EE;
	padding: 0px 2px 0px 2px;
	opacity: 0.8;
	font-size:12px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}

#boardtitle { margin: 2px; font-size: 26px; color: #646464; float: right; }

/* front page */

.title { margin: 2px; font-size: 22px; color: #646464; font-weight: bold; font-style: italic; }
.center { display: table; width: 300px;  margin-right: auto; margin-left: auto; }
.invisible { display: none; }

@keyframes pulsate
{
	0% { background-color: #B3AFFF; }
	25% { background-color: #D5B2FE; }
	50% { background-color: #B3AFFF; }
	75% { background-color: #D5B2FE; }
	100% { background-color: #B3AFFF; }
}

.masthead
{
	padding: 6px;
	border-left: 5px solid #9793D7;
	border-bottom: 1px solid #DBBFFF;
	border-right: 1px solid #DBBFFF;
	box-shadow: 4px 4px 4px 0px lightgray;
	animation: pulsate 10s infinite;
	background-color: #B3AFFF;
}

.directory
{
	width: 50%;
	background-color: lightgray;
	color: #646464;
	font-size: 12px;
	padding: 7px 10px 4px 10px;
	background-color: lightgray;
	border-bottom: 1px solid #DBAFFF;
	border-right: 1px solid #DBAFFF;
	box-shadow: 3px 3px 7px 0px gray;
}

.cell { float: left; width: 300px; }
.dirheading { font-size: 20px; font-style: italic; font-weight: bold; }
.dirname { font-size: 28px; }
.dirdesc { font-size: 12px; font-style: italic; }

/* navigation */

.navi { margin: 2px; color: #646464; }
.navi > a { link-decoration: none; }
.navi > a:link { color: inherit; text-decoration: inherit; }
.navi > a:hover { color: red; }
.boardlist { font-size: 12px; }
.controls { color: #312A2A; font-size: 13px; }
.right { float: right; }
.line
{
	opacity: 0.7;
	margin: 4px 0px 4px 0px;
	width: 100%;
	height: 1px;
	background: #837984;
	overflow: hidden;
}

/* post box */

#postbox
{
	float: left;
	color: #646464;
	font-size: 12px;
	margin: 2px;
	padding: 7px 10px 4px 10px;
	background-color: lightgray;
	border-left: 6px solid #B3AFFF;
	border-bottom: 1px solid #DBAFFF;
	border-right: 1px solid #DBAFFF;
	box-shadow: 3px 3px 7px 0px gray;
}

.formtitle
{
	padding: 3px;
	margin-bottom: 3px;
	font-size: 13px;
	text-align: center;
	color: white;
	border-radius: 2px;
	background: repeating-linear-gradient(
		135deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 10px,
		rgba(0, 0, 0, 0.3) 10px,
		rgba(0, 0, 0, 0.3) 20px
	); /* striped background */
}
.threadmode { background-color: #DBAFFF; }
.indexmode { background-color: #AACCFF; }

.form { width: 100%; height: 100%; }
.field { width: 200px; padding: 2px; border: 1px solid #B3AFFF; }
.desc
{
	width: 65px;
	height: 100%;
	text-align: center;
	font-weight: bold;
	border: 1px solid #B3AFFF;
	padding: 2px;
	background-color: #EEE;
}

/* help messages */

.help { padding:1px; font-size: 11px; }
.tooltip { display: inline; position: relative; color: #646464; text-decoration: none; }
.tooltip:hover:before
{
	/* css arrow hack */
	border: solid;
	border-color: #646464 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left; 60%;
	position: absolute;
	z-index: 99;
}
.tooltip:hover:after
{
	border-left: 5px solid #B3AFFF;
	border-right: 1px solid #DBAFFF;
	background: #646464;
	bottom: 26px;
	color: white;
	content: attr(msg);
	left: -45%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

textarea, input { color: #646464; font-family: sans-serif; }

.reset { clear: both; }

.footer { font-size: 11px; font-style: italic; color: #646464; }
.footer > a:link { color: inherit; text-decoration: inherit; }
.footer > a:hover { color: red; }

/* [spoiler] blocks */

.spoiler { background: black; color: black; }
.spoiler:hover { color: white; }

/* [code] blocks */

.codeblock
{
	font-size: 13px;
	font-family: monospace;
	background-color: #F5FFFA;
	color: #555;
	border: 1px solid #BBB;
	box-shadow: 4px 4px 0px 0px #E2E8F5;
	margin: 0px 4px 4px 0px;
	padding: 5px;
	display: inline-block;
	max-width: 640px;
	max-height: 1000px;
	white-space: pre;
	overflow: auto;
}

.codeblock > .codeblock /* nested */
{
	background-color: #E2E8F5;
	border: 1px solid lightgray;
	box-shadow: 3px 3px 0px 0px #DDD;
	padding: 2px;
}

.spoiler > .codeblock /* codeblock in a spoiler??? */
{
	display: inline;
	margin: 0px;
	padding: 0px;
	border: none;
	box-shadow: none;
	color: black;
	background-color: black;
}
.spoiler:hover > .codeblock { color: white; }

/* post container */

.pContainer
{
	font-size: 13px;
	font-family: sans-serif;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-word; /* possibly broken in Mozilla Firefox 45+ */
	margin: 4px 10px 4px 6px;
	padding: 6px 15px 12px 10px;
	background-color: #B3AFFF;
	border-bottom: 1px solid #DBBFFF;
	border-right: 1px solid #DBBFFF;
	box-shadow: 3px 3px 5px 0px #DBAFFF;
}

.parent
{
	margin: 10px 0px 10px 0px;
	background: none;
	border: none;
	box-shadow: none;
}

.pSubject { color: #0F0C5D; font-weight: bold; }
.pName { color: green; font-weight: bold; }
.pTrip { color: green; }
.pComment { margin: 16px 4px 5px 16px; white-space: pre-line; }

/* post quoting */

.pId > a:link { color: inherit; text-decoration: inherit; }
.pId > a:hover { color: red; }
a:visited { color: inherit; }

.quote { color: #66821B; }
.linkquote { color: #D00 !important; text-decoration: underline; }
.invalid { text-decoration: line-through; }
.highlight { border-left: 5px solid #9793D7; background-color: #D5B2FE !important; }
.popup { position: absolute; border: 1px solid lightgray; }
