@media screen and (max-width: 480px) /* mobile layout */
{
	.pContainer { width: 90%; }
	.pComment { font-size: 17px; }
}

body
{
	margin: 7px;
	font-size: 13px;
	font-family: san-serif;
	background-color: #AFD3FF;
}

#banner
{
	float: left;
	margin: 2px;
	margin-right: 8px;
	margin-bottom: 6px;
	width: 100px;
	height: 100px;
	opacity: 0.9;
	box-shadow: 4px 4px 4px 0px lightgray;
	background-color: #D6DAF0;
	/* add color, change hue, and saturate B&W image */
	filter: contrast(90%) sepia(60%) hue-rotate(305deg) saturate(2);
}

a > #bannertext
{
	float: left;
	margin: 2px;
	top: 8px;
	left: 44px;
	position: absolute;
	color: #646;
	background-color: #F7F4EE;
	padding: 0px 2px 0px 2px;
	opacity: 0.8;
	font-size:12px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}

#postbox
{
	float: left;
	color: #646464;
	font-size: 12px;
	margin: 2px;
	padding: 7px 10px 4px 10px;
	background-color: lightgray;
	border-left: 6px solid #B3AFFF;
	border-bottom: 1px solid #DBAFFF;
	border-right: 1px solid #DBAFFF;
	box-shadow: 3px 3px 7px 0px gray;
}

.ins { padding:1px; font-size: 11px; }

textarea, input { color: #646464; font-family: sans-serif; }

.nav { color: #646; }
.nav > a:hover { color: red; }

.reset { clear: both; }

/*.footer { font-size: 11px; font-style: italic; color: #646464; } */
.footer { font-size: 11px; font-style: italic; color: #646464; }
.footer > a:link { color: inherit; text-decoration: inherit; }
.footer > a:hover { color: red; }

/* quoting */

.pId > a:link { color: inherit; text-decoration: inherit; }
.pId > a:hover { color: red; }
a:visited { color: inherit; }

.quote { color: #66821B; }
.linkquote { color: #D00 !important; text-decoration: underline; }
.highlight { border-left: 5px solid #9793D7; background-color: #D5B2FE !important; }
.popup { position: absolute; border: 1px solid lightgray; }

/* [code] tags */

.codeblock
{
	font-size: 13px;
	font-family: monospace;
	background-color: #F5FFFA;
	color: #555;
	border: 1px solid #BBB;
	box-shadow: 4px 4px 0px 0px #E2E8F5;
	margin: 0px 4px 4px 0px;
	padding: 5px;
	display: inline-block;
	max-width: 640px;
	max-height: 1000px;
	white-space: pre;
	overflow: auto;
}

.codeblock > .codeblock
{
	background-color: #E2E8F5;
	border: 1px solid lightgray;
	box-shadow: 3px 3px 0px 0px #DDD;
	padding: 2px;
}

/* post container */

.pContainer
{
	font-size: 13px;
	font-family: sans-serif;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-word; /* possibly broken in Mozilla Firefox 45+ */
	margin: 4px 10px 4px 6px;
	padding: 6px 15px 12px 10px;
	background-color: #B3AFFF;
	border-bottom: 1px solid #DBBFFF;
	border-right: 1px solid #DBBFFF;
	box-shadow: 3px 3px 5px 0px #DBAFFF;
}


.pName { color: green; font-weight: bold; }
.pTrip { color: green; }
.pComment { margin: 16px 4px 5px 16px; white-space: pre-line; }
