body
{
	margin: 7px;
	font-size: 13px;
	font-family: san-serif;
	background-color: #AFD3FF;
}

#logo
{
	float: left;
	width: 96px;
	height: 96px;
	margin: 2px;
	color: #646;
	font-size:18px;
	font-family: sans-serif;
	font-style: italic;
	background-color: #D6DAF0;
	background-image: url("http://i.imgur.com/6hH0xH4.png");
}

#postbox
{
	float: left;
	color: #646464;
	font-size: 12px;
	margin: 2px;
	padding: 7px 15px 12px 10px;
	background-color: lightgray;
	border-left: 6px solid #B3AFFF;
	border-bottom: 1px solid #DBAFFF;
	border-right: 1px solid #DBAFFF;
	box-shadow: 3px 3px 7px 0px gray;
}

textarea, input
{
	color: #646464;
	font-family: sans-serif;
}

.reset { clear: both; }

/* post structure */

.pContainer
{
	font-size: 13px;
	font-family: sans-serif;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-word; /* possibly broken in Mozilla Firefox 45+ */
	margin: 4px 10px 4px 6px;
	padding: 6px 15px 12px 10px;
	background-color: #B3AFFF;
	border-bottom: 1px solid #DBBFFF;
	border-right: 1px solid #DBBFFF;
	box-shadow: 3px 3px 5px 0px #DBAFFF;
}

.pName { color: green; font-weight: bold; }
.pTrip { color: green; }
.pComment { margin: 16px 4px 5px 16px; }
